[Server]
ApiListenAddress = "127.0.0.1"
RpcListenAddress = "0.0.0.0"
RpcListenPort = 31337
RpcListenPort = 8081
SecretKey = "{{ ferrous_secret_key }}"
ReportingKey = "{{ ferrous_reporting_key }}"
OriginUri = "{{ origin_uri }}"

[Database]
# Only used by rorm-cli
Driver = "Postgres"
Host = "127.0.0.1"
Port = 5432
User = "{{ ferrous_db_user }}"
Password = "{{ ferrous_db_password }}"
Name = "{{ ferrous_db_name }}"

[Logging]
LogLevel = "debug"
Path = "/var/log/ferrous/main.log"
RotationFileSize = "10 MB"
MaxRotationCount = 10

[[Logging.AdditionalFileLoggers]]
Name = "requests"
AddToMainLogger = true
Path = "/var/log/ferrous/requests.log"
RotationFileSize = "10 MB"
MaxRotationCount = 5
AlternativePattern = "{h([{d(%Y-%m-%d %H:%M:%S)} | {({l}):5.5}])} {m}{n}"